<div id="page-container">
    <div id="page-content">
        <h1 id="page-title">Login</h1>
        <form id="login-form">
            <label>
                <input type="text" [(ngModel)]="username" name="username" placeholder="Username ...">
            </label>
            <label>
                <input type="password" [(ngModel)]="password" name="password" placeholder="Password ...">
            </label>
            <button (click)="loginClickHandler($event)">Login</button>
        </form>
    </div>
</div>
