@primary-background-color: #313038;
@secondary-background-color: #1f2023;

@primary-font-color: #ffffff;
@secondary-font-color: #f6f7f8;

@title-font-size: 2.5em;

@titles-font: 'Raleway', sans-serif;
@basic-font: sans-serif;
@inspiration-font: 'Fredericka the Great', cursive;

@import (css) url(https://fonts.googleapis.com/css?family=Raleway&display=swap);
@import (css) url(https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap);
