@primary-background-color: #E77E23; /*#EEEAE1;*/
@secondary-background-color: #EEEAE1;
@third-background-color: #d7d8e0;

@primary-font-color: #EEEAE1;
@secondary-font-color: #232b2b;

@title-font-size: 2.5em;

@titles-font: 'Raleway', sans-serif;
@basic-font: sans-serif;
@inspiration-font: 'Fredericka the Great', cursive;

@import (css) url(https://fonts.googleapis.com/css?family=Raleway&display=swap);
@import (css) url(https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap);
