$primary-background-color: #545454;
$primary-font-family: 'Viga', sans-serif;
$primary-font-color: #EEEAE1;

$small-font-size: 0.5em;
$medium-font-size: 1em;
$large-font-size: 1.5em;


@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');
