$primary-background-color: #545454;
$primary-font-family: 'Viga', sans-serif;
$primary-font-color: #EEEAE1;

$small-font-size: 0.9em;
$medium-font-size: 1.5em;
$large-font-size: 2em;
$x-large-font-size: 2.5em;
$secondary-background-color: #EEEAE1;
$secondary-font-color: #000000;
$secondary-font-family: 'Voces', cursive;

$create-green-color: #4CAF50;

@import url('https://fonts.googleapis.com/css?family=Viga|Voces&display=swap');
