PORT=[5000_OR_CHANGE_PROXY]
DATABASE_URL=[MONGO_DB_URL]

# SMTP DETAILS
SMTP_CLIENT_ID=[YOUR_CLIENT_ID IF FORMAT => (xxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com)]
SMTP_CLIENT_SECRET=[YOUR_CLIENT_SECRET]
SMTP_REFRESH_TOKEN=[YOUR_REFRESH_TOKEN]
SMTP_USER=[YOUR_EMAIL_ADDRESS]

USERNAME=[ANY_USERNAME]
PASSWORD=[ANY_PASSWORD]
SECRET=[ANY_SECRET_KEY]
