@import "../../../global-variables";

.about-section {
  min-height: 50vh;
  background-color: @primary-background-color;

  .about-section-content {
    margin-left: 10%;
    padding-top: 3%;
    width: 80%;

    h1, p {
      color: @primary-font-color;
    }

    h1 {
      font-size: @x-large-font-size;
      font-weight: 800;
      font-family: @titles-font;
      margin-bottom: 3%;
    }

    .brief-paragraph {
      font-size: @medium-font-size;
      font-family: @basic-font;
    }

    .section-features-container {
      padding-top: 2%;
      padding-left: 3%;
      font-size: @medium-font-size;
      font-family: @basic-font;
      p {
        margin-top: 1.5%;
      }
    }
  }

}
