@import "../../../global-variables";

.about-section {
  min-height: 75%;
  padding-top:5%;
  padding-bottom: 5%;
  background-color: @primary-background-color;

  .about-section-content {
    margin-left: 10%;
    width: 80%;

    h1, p {
      color: @primary-font-color;
    }

    h1 {
      font-size: @x-large-font-size;
      font-weight: 800;
      font-family: @titles-font;
      margin-bottom: 3%;
    }

    .brief-paragraph {
      font-size: @medium-font-size;
      font-family: @basic-font;
      margin-bottom: 2%;
    }

    .section-features-container {
      padding-top: 2%;
      padding-left: 3%;
      font-size: @medium-font-size;
      font-family: @basic-font;
      p {
        margin-top: 4%;
      }
    }
  }

}

@media only screen and (max-width: 650px) {

  .about-section {
    .about-section-content {
      .brief-paragraph {
        font-size: @small-font-size;
      }
      .section-features-container {
        font-size: @small-font-size;
      }
    }

  }

}
