<div id="project-edit-page">
    <div id="page-content">
        <div id="title-container">
            <h1>Edit Project: {{name || 'Loading...'}}</h1>
        </div>

        <div id="form-container">
            <form (submit)="saveHandler()">
                <label>
                    <input ngModel="{{project.name || 'Loading...'}}" type="text" name="name" placeholder="Project Name.." [attr.disabled]="disabled">
                </label>
                <label>
                    <input ngModel="{{project.link || 'Loading...'}}" type="text" name="link" placeholder="Project Link.." [attr.disabled]="disabled">
                </label>
                <label>
                    <input ngModel="{{project.gitLink || 'Loading...'}}" type="text" name="gitLink" placeholder="Project Git Link.." [attr.disabled]="disabled">
                </label>
                <label>
                    <input ngModel="{{project.imageUrl || 'Loading...'}}" type="text" name="imageUrl" placeholder="Project image URL.." [attr.disabled]="disabled">
                </label>
                <label>
                    <input [(ngModel)]="project.teamWork" type="checkbox" name="teamWork" [attr.disabled]="disabled">
                    Team work?
                </label>

                <label>
                    <textarea ngModel="{{project.description || 'Loading...'}}" type="text" name="description" placeholder="Project Description.." [attr.disabled]="disabled"></textarea>
                </label>

                <button [attr.disabled]="disabled">Save changes</button>
            </form>
        </div>
    </div>
</div>
