@import "../../global-variables";

#nav{
  height: 6vh;
  border-bottom: 0.1px solid #000000;
}

.primary-bg{
  background-color: @secondary-background-color;
  transition: background-color 1500ms;
}

.secondary-bg{
  background-color: #d7d8e0;
  transition: background-color 1500ms;
}

#navTitle {
  font-family: @titles-font;
  font-size: 1em;
  float: left;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
}

#navList{
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 70%;
  float: right;
  box-sizing: border-box;
  visibility: visible;

}
.nav-item{
  font-family: @titles-font;
  list-style-type: none;
  height: 100%;
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    font-size: 1em;
  }

}

#navDropdown {
  visibility: hidden;
}




.primary-text-color {
  color: @primary-font-color;
  transition: background-color 1500ms;
}

.secondary-text-color {
  color: #000000;
  transition: background-color 1500ms;
}

@media only screen and (max-width: 800px) {
  #navTitle {
    font-size: 0.8em;
    width: 30%;
  }

  .nav-item{
    a {
      font-size: 0.8em;
    }

  }
}

@media only screen and (max-width: 600px) {
  #navTitle {
    font-size: 1em;
    width: 50%;
  }
  #navList{
    visibility: hidden;
    display: none;
  }

  #navDropdown {
    visibility: visible;
    float: right;
    height: 98.5%;
    width: 12%;

    position: relative;
    display: inline-block;

    a:hover {
      background-color: #ddd;
    }

    button {
      background-color: @primary-background-color;
      color: white;
      height: 100%;
      width: 100%;
      font-size: 16px;
      border: none;
      cursor: pointer;
      &:hover, &:focus {
        background-color: #2980B9;
      }
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      right: 0;

      a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
    }

    .show {
      display: block;
    }
  }


}

@media only screen and (max-width: 500px) {
  #navDropdown {
    visibility: visible;
    float: right;
    height: 98.5%;
    width: 20%;
  }



}
