@import "../../global-variables";

#nav{
  height: 6vh;
}

.primary-bg{
  background-color: @secondary-background-color;
  transition: background-color 1500ms;
}

.secondary-bg{
  background-color: #d7d8e0;
  transition: background-color 1500ms;
}

#navTitle {
  font-family: @titles-font;
  font-size: 1vw;
  float: left;
  margin: 0 15%;
  display: flex;
  align-items: center;
  height: 100%;
}

#navList{
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 50%;
  float: right;
  margin: 0 3%;
}

.nav-item{
  font-family: @titles-font;
  list-style-type: none;
  height: 100%;
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    font-size: 1vw;
  }

}

.primary-text-color {
  color: @primary-font-color;
  transition: background-color 1500ms;
}

.secondary-text-color {
  color: #000000;
  transition: background-color 1500ms;
}
