<nav id="nav" class="primary-bg">
  <div id="navTitle-container">
    <h3 id="navTitle" class="primary-text-color" (click)="onLinkClick([''])">My Portfolio</h3>
  </div>
  <ul id="navList">
    <li class="nav-item primary-text-color" (click)="onLinkClick([''])">Main</li>
    <li class="nav-item primary-text-color" (click)="onLinkClick([''])">Socials</li>
    <li class="nav-item primary-text-color" (click)="onLinkClick(['projects'])">Projects</li>
    <li class="nav-item primary-text-color" (click)="onLinkClick(['technologies'])">Technologies</li>
    <li class="nav-item primary-text-color" (click)="onLinkClick(['languages'])">Languages</li>
    <li class="nav-item primary-text-color" (click)="onLinkClick(['main', 'ContactUs'])">Contact Us</li>
  </ul>
  <div id="navDropdown" class="dropdown">
    <button (click)="dropDownButtonClick()" class="dropbtn"><li class="fa fa-bars"></li></button>
    <div id="dropdownMenu" class="dropdown-content">
      <ul>
        <li (click)="onLinkClick([''])">Main</li>
        <li (click)="onLinkClick([''])">Socials</li>
        <li (click)="onLinkClick(['projects'])">Projects</li>
        <li (click)="onLinkClick(['technologies'])">Technologies</li>
        <li (click)="onLinkClick(['languages'])">Languages</li>
        <li (click)="onLinkClick(['main', 'ContactUs'])">Contact Us</li>
      </ul>
    </div>
  </div>
</nav>
