@import "../../global-variables";

#nav{
  height: 6vh;
  border-bottom: 0.1px solid #313038;
}

.primary-bg{
  background-color: @secondary-background-color;
  transition: background-color 1500ms;
}

.secondary-bg{
  background-color: #d7d8e0;
  transition: background-color 1500ms;
}

#navTitle {
  font-family: @titles-font;
  font-size: 1em;
  float: left;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
}

#navList{
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 70%;
  float: right;
  box-sizing: border-box;
}

.nav-item{
  font-family: @titles-font;
  list-style-type: none;
  height: 100%;
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    font-size: 1em;
  }

}

.primary-text-color {
  color: @primary-font-color;
  transition: background-color 1500ms;
}

.secondary-text-color {
  color: #000000;
  transition: background-color 1500ms;
}

@media only screen and (max-width: 800px) {
  #navTitle {
    font-size: 0.8em;
    width: 30%;
  }

  .nav-item{
    a {
      font-size: 0.8em;
    }

  }
}

@media only screen and (max-width: 600px) {
  #navTitle {
    font-size: 0.7em;
    width: 20%;
  }
  #navList{
    width: 80%;
  }

  .nav-item{
    a {
      font-size: 0.7em;
    }

  }
}

@media only screen and (max-width: 525px) {
  #nav{
    height: 4vh;
  }

  #navTitle {
    font-size: 0.7em;
  }

  .nav-item{
    a {
      font-size: 0.5em;
    }

  }
}
