<div id="contact-us">
  <h2 class="contactUs-header">Contact Us</h2>
  <form (submit)="this.onSubmitHandler($event)" id="contact-us-form" [ng2-loading]="showSpinner">
    <input name="name" placeholder="Name" (input)="onChangeHandler($event)" class="input half-input" />
    <input name="email" placeholder="Email" (input)="onChangeHandler($event)" class="input half-input" />
    <input name="subject" placeholder="Subject" (input)="onChangeHandler($event)" class="input full-input" />
    <textarea name="message" placeholder="Message" (input)="onChangeHandler($event)" class="textArea-input"></textarea>
    <button class="send-button">{{buttonText}}<i class="fas fa-check-circle invisible checked-icon"></i></button>
  </form>
</div>
