@import "../../global-variables";

#contact-us {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Arial, serif;

  .contactUs-header{
    font-family: @titles-font;
    color: @primary-font-color;
    font-size: @title-font-size;
    margin-bottom: 2%;
    width: 100%;
    text-align: center;
  }

  form {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .half-input {
      width: 49%;
    }

    .full-input {
      width: 100%;
    }

    .input {
      height: 4vw;
      margin-bottom: 1%;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 0;
      border-radius: 3px;
      background-color: #d7d8e0;
      resize: none;
      font-family: inherit;
    }

    .textArea-input {
      height: 15vw;
      width: 100%;
      margin-bottom: 1%;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 0;
      border-radius: 3px;
      background-color: #d7d8e0;
      resize: none;
      font-family: inherit;

    }

    .send-button {
      width: 16%;
      background-color: #2088c8;
      color: @primary-font-color;
      border-radius: 3px;
      border: 0;
      height: 2vw;
      margin-left: 42%;
      margin-right: 42%;

      .invisible {
        visibility: hidden;
        display: none;
      }

      .checked-icon {
        color: #00ffbb;
        font-size: 1.5em;
      }

    }


  }


}


@media only screen and (max-width: 1000px) {
  #contact-us {
    form {
      width: 96%;
      .input {
        height: 4vw;
      }

      .textArea-input {
        height: 15vw;

      }

      .send-button {
        height: 4vw;
      }


    }
  }
}

@media only screen and (max-width: 800px) {
  #contact-us {
    form {
      width: 96%;
      .input {
        height: 7vw;
        margin-bottom: 2%;
      }

      .textArea-input {
        height: 25vw;
      }

      .send-button {
        height: 7vw;
        width: 26%;
        margin-left: 37%;
        margin-right: 37%;
      }


    }
  }
}

@media only screen and (max-width: 600px) {
  #contact-us {
    form {
      width: 96%;
      .input {
        width: 100%;
      }
    }
  }
}
