@import "../../../../global-variables";

#card {
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .img-container {
    width: 18%;
    img{
      width: 100%;
      height: auto;
    }
  }

  .text-container {
    margin: 1% 3%;
    width: 30%;
    direction: ltr;
    h4{
      margin-bottom: 3%;
      font-size: @large-font-size;
      color: @primary-font-color;
    }

    p{
      width: 80%;
      margin-bottom: 15%;
      color: @primary-font-color;
    }
  }
}

.rtl-direction {
  direction: rtl;
}
