#card-container{
  width: 25%;
  .card-type-1{
    width: 100%;
    img{
      width: 100%;
    }
  }

  .card-type-2{
    width: 100%;
    background-color: #b4b5bc;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img{
      width: 12%;
      height: auto;
      margin-top: 8%;
      margin-bottom: 5%;
    }
    h4{
      margin-bottom: 5%;
    }
    p{
      width: 80%;
      text-align: center;
      margin-bottom: 15%;
    }
  }
}
