<div id="card-container" [ngSwitch]="this.type">
  <div class="card-type-1" *ngSwitchCase="1">
    <img src="{{this.details.imageUrl}}">
  </div>

  <div class="card-type-2" *ngSwitchCase="2">
    <img src="{{this.details.iconUrl}}">
    <h4>{{this.details.title}}</h4>
    <p>{{this.details.description}}</p>
  </div>

  <div class="card-type-3" *ngSwitchCase="3">
  <img src="{{this.details.imageUrl}}">
  <h4>{{this.details.title}}</h4>
</div>

  <div class="card-type-4" *ngSwitchCase="4">
    <img src="{{this.details.imageUrl}}">
  </div>

  <div class="card-type-5" *ngSwitchCase="5">
    <a href="{{this.details.link}}"><h4>See More...</h4></a>
  </div>
</div>
