<div id="footer">
    <div id="left-side">
        <div id="contacts">
            <div class="line">
                <i class="fas fa-map-marker-alt footer-icon"></i> <h3>{{address}}</h3>
            </div>

            <div class="line">
                <i class="fas fa-phone-alt footer-icon"></i> <h3>{{phone}}</h3>
            </div>

            <div class="line">
                <i class="far fa-envelope footer-icon"></i> <h3>{{email}}</h3>
            </div>
        </div>
    </div>
    <div id="right-side">
        <div id="inspiration">
            <h2>Inspiration</h2>
            <p>{{inspiration.text}}</p>
            <h3> - {{inspiration.by}}</h3>
        </div>
    </div>
</div>
