<div id="sections-list">

  <div id="list-container">
    <div id="sections-container">
      <div class="section-container">
        <app-section-icon title="Projects" description="Enables you to have the full control of your projects" logoUrl="projects"></app-section-icon>
      </div>

      <div class="section-container">
        <app-section-icon title="Languages" description="Enables you to have the full control of your languages" logoUrl="languages"></app-section-icon>
      </div>

      <div class="section-container">
        <app-section-icon title="Technologies" description="Enables you to have the full control of your technologies" logoUrl="technologies"></app-section-icon>
      </div>

      <div class="section-container">
        <app-section-icon title="Socials" description="Enables you to have the full control of your socials" logoUrl="socials"></app-section-icon>
      </div>
    </div>

  </div>
</div>
