<div id="sections-list">

  <div id="list-container">
    <div id="sections-container">
      <div class="section-container">
        <app-section-icon title="Projects" description="To view the projects I made before, and can access to its Repo." logoUrl="projects"></app-section-icon>
      </div>

      <div class="section-container">
        <app-section-icon title="Languages" description="Here you can find the programming languages I know and used in my projects." logoUrl="languages"></app-section-icon>
      </div>

      <div class="section-container">
        <app-section-icon title="Technologies" description="Technologies usually are based on languages, and made to build apps easier and faster." logoUrl="technologies"></app-section-icon>
      </div>

      <div class="section-container">
        <app-section-icon title="Socials" description="Where can you find me on social networks? Click here to follow me there!" logoUrl="socials"></app-section-icon>
      </div>
    </div>

  </div>
</div>
