@import "../../global-variables";

#sections-list {

  background-color: @secondary-background-color;
  min-height: 85vh;
  display: flex;
  flex-wrap: wrap;

  #list-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    #sections-container {
      width: 80%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .section-container {
        margin-bottom: 2%;
        width: 40%;
        box-sizing: border-box;
      }
    }
  }

}


@media only screen and (max-width: 1000px){
  #sections-list {
    #list-container {
      #sections-container {
        padding-top: 5%;
        padding-bottom: 5%;
        width: 100%;
      }
    }
  }
}


@media only screen and (max-width: 650px){
  #sections-list {
    #list-container {
      #sections-container {
        padding-top: 5%;
        padding-bottom: 5%;
        width: 100%;
        .section-container{
          width: 90%;
        }
      }
    }
  }
}
