<app-header id="Main"></app-header>
<app-section [title]="'Projects'" id="Projects"></app-section>
<app-section [title]="'Services'" id="Services"></app-section>
<app-section [title]="'Languages'" id="Languages"></app-section>
<app-section [title]="'Technologies'" id="Technologies"></app-section>
<app-section [title]="'ContactUs'" id="ContactUs"></app-section>
<app-projects-section></app-projects-section>
<app-services-section></app-services-section>
<app-languages-section></app-languages-section>
