@import "../../../global-variables";

#section{
  padding: 3% 20%;
  background-color: @secondary-background-color;
  min-height: 70vh;

  h2{
    font-family: @titles-font;
    color: @secondary-font-color;
    font-size: @title-font-size;
    margin-bottom: 4%;
  }

  #cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    app-language-card {
      width: 25%;
    }
  }
}


@media only screen and (max-width: 650px) {
  #section{
    #cards{
      justify-content: center;
      app-language-card {
        width: 70%;
        margin-bottom: 5%;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  #section{
    #cards{
      app-language-card {
        width: 95%;
      }
    }
  }
}
