@import "../../../global-variables";

#section{
  padding: 3% 20%;
  background-color: @secondary-background-color;
  min-height: 70vh;

  h2{
    font-family: @titles-font;
    color: @secondary-font-color;
    font-size: @title-font-size;
    margin-bottom: 4%;
  }

  #cards{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    app-language-card {
      margin: 5% 3%;
      width: 15%;
    }
  }
}


@media only screen and (max-width: 1000px) {
  #section {
    padding: 5% 10%;
    h2{
      text-align: center;
    }
    #cards{

      app-language-card{
        width: 25%;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  #section {
    #cards{
      justify-content: center;
      app-language-card{
        width: 50%;
      }
    }
  }
}
