@import "../../../../global-variables";

#card{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  img{
    width: 100%;
  }
  h4{
    text-align: center;
    color: @secondary-font-color;
    margin-top: 10%;
  }
}
