
.my-work {
    .title-container {
        h2 {
            font-size: 42px;
            line-height: 42px;
            font-weight: 600;
            color: #718061;
            margin: 0;
            @media screen  and (max-width: 1200px) {
                font-size: 40px;
                line-height: 40px;
            }
            @media screen  and (max-width: 1024px) {
                font-size: 38px;
                line-height: 38px;
            }
            @media screen  and (max-width: 900px) {
                font-size: 36px;
                line-height: 36px;
            }
            @media screen  and (max-width: 768px) {
                font-size: 40px;
                line-height: 40px;
            }
        }
    }
    .work-content {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        .work-item {
            margin-top: 40px;
            margin-bottom: 40px;
            display: flex;
            justify-content: space-between;
            .margin-right {
                margin-right: 32px;
                @media screen  and (max-width: 768px) {
                    margin-right: unset;
                }
            }
            .margin-left {
                margin-left: 32px;
                @media screen  and (max-width: 768px) {
                    margin-left: unset;;
                }
            }
            .image-side {
                width: 50%;
                @media screen  and (max-width: 768px) {
                    display: none;
                }
                .project-image {
                    width: 100%;
                    margin-top: -5.5%;
                }
            }
            .content-side {
                .content-project-image {
                    display: none;
                    @media screen  and (max-width: 768px) {
                        display: block;
                        width: 100%;
                        margin-left: -3.5%;
                        margin-top: 8px;
                        .project-image {
                            width: 100%;
                            max-width: 100%;
                        }
                    }
                }
                width: 50%;
                @media screen  and (max-width: 768px) {
                    width: 100%;
                }
                h3 {
                    font-size: 42px;
                    line-height: 42px;
                    @media screen  and (max-width: 1200px) {
                        font-size: 40px;
                        line-height: 40px;
                    }
                    @media screen  and (max-width: 1024px) {
                        font-size: 38px;
                        line-height: 38px;
                    }
                    @media screen  and (max-width: 900px) {
                        font-size: 36px;
                        line-height: 36px;
                    }
                    @media screen  and (max-width: 768px) {
                        font-size: 40px;
                        line-height: 40px;
                    }
                    font-weight: 600;
                    color: #fff;
                    background-color: #2E1921;
                    display: inline;
                    padding-right: 12px;
                    padding-left: 12px;
                }
                p {
                    font-size: 20px;
                    @media screen  and (max-width: 1200px) {
                        font-size: 18px;
                    }
                    @media screen  and (max-width: 1024px) {
                        font-size: 16px;
                    }
                    @media screen  and (max-width: 900px) {
                        font-size: 14px;
                    }
                    @media screen  and (max-width: 768px) {
                        font-size: 18px;
                    }
                }
                .company-logo {
                    width: 100px;
                    height: auto;
                }
                
            }
        }
    }
}
