@import "../../../global-variables";

#section {
  padding-top: 5%;
  padding-bottom: 10%;
  background-color: @secondary-background-color;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  min-height: 40vh;

  #section-content {
    width: 80%;

    h2 {
      font-family: @titles-font;
      color: @secondary-font-color;
      font-size: @title-font-size;
      margin-bottom: 2%;
    }

    #cards {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      app-technology-card {
        width: 20%;
        margin: 2.5%;
      }
    }
  }
}


@media only screen and (max-width: 650px) {
  #section {
    #section-content {

      h2{
        text-align: center;
        margin-bottom: 8%;
        margin-top: 8%;
      }

      #cards {
        justify-content: center;

        app-technology-card {
          width: 70%;
          margin-bottom: 5%;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  #section{
    #section-content {
      #cards{
        app-technology-card {
          width: 95%;
        }
      }
    }
  }
}
