@import "../../../../global-variables";

#card{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  img{
    width: 100%;
    cursor: pointer;
  }
  h4{
    text-align: center;
    color: @secondary-font-color;
    margin-top: 10%;
    font-size: @medium-font-size;
    cursor: pointer;
  }
}

@media only screen and (max-width: 650px) {
  #card{
    h4{
      margin-top: 3%;
    }
  }
}
