
.experience {
    .title-container {
        h2 {
            font-size: 48px;
            font-weight: 600;
            color: #718061;
            margin: 0;
        }
    }
    .experience-list-container {
        display: flex;
        flex-direction: row;
        margin-left: 16px;
        .experience-line {
            width: 2px;
            min-width: 2px;
            background-color: #718061;
        }
        .experience-list {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            .experience-item {
                min-height: 120px;
                margin-top: 40px;
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                .experience-circle {
                    width: 24px;
                    height: 24px;
                    min-width: 24px;
                    min-height: 24px;
                    background-color: #718061;
                    border-radius: 100%;
                    margin-left: -12px;
                    filter: drop-shadow(#718061 0 0 32px);
                }
                .experience-texts {
                    margin-left: 24px;
                    h3 {
                        margin: 0;
                    }
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}
