<div id="sections-list">

    <div id="arrow-container">
        <div class="arrow-down"></div>
    </div>

    <div id="list-container">
        <div id="sections-container">
            <div class="section-container">
                    <app-section title="Projects" description="Enables you to have the full control of your projects" logoUrl="projects"></app-section>
            </div>

            <div class="section-container">
                    <app-section title="Services" description="Enables you to have the full control of your services" logoUrl="services"></app-section>
            </div>

            <div class="section-container">
                    <app-section title="Languages" description="Enables you to have the full control of your languages" logoUrl="languages"></app-section>
            </div>

            <div class="section-container">
                    <app-section title="Technologies" description="Enables you to have the full control of your technologies" logoUrl="technologies"></app-section>
            </div>

            <div class="section-container">
                    <app-section title="Socials" description="Enables you to have the full control of your socials" logoUrl="socials"></app-section>
            </div>
        </div>

    </div>
</div>
