
.app {
  margin-right: 180px;
  margin-left: 180px;
  .circles-section {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    .data-container {
      width: 48%;
    }
  }
  .my-work-container {
    margin-top: 120px;
  }
}

* {
    font-family: 'Poppins';
}