
.app {
  margin-right: 180px;
  margin-left: 180px;
  .circles-section {
    display: flex;
    justify-content: space-between;
    .data-container {
      width: 48%;
    }
  }
}

* {
    font-family: 'Poppins';
}